<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>dead | snake</title>
</head>
<body>
  <main>
    <h2>Game over!</h2>
    <div><%= deathData.death_message %></div>
    <div>score: <%= deathData.score %></div>
    <a href="/gamemodes">Close</a>
    <a href="/gamemodes/<%= deathData.name %>/play">Play again</a>
  </main>
</body>
</html>