<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>settings | snake</title>
</head>
<body>
  <a href="/"><= Back</a>
  <br>
  This settings form does not change your settings as it is still under development
  <form action="" method="POST">
    <!-- TODO: add reset functionality button per setting -->
    <label for="colorSnakeHead">Color of the head of the snake</label>
    <input type="color" id="colorSnakeHead" name="colorSnakeHead">
    
    <label for="colorSnakeBody">Color of the body of the snake</label>
    <input type="color" id="colorSnakeBody" name="colorSnakeBody">

    <label for="colorFood">Color of the food</label>
    <input type="color" id="colorFood" name="colorFood">

    <label for="colorObstacles">Color of the obstacles</label>
    <input type="color" id="colorObstacles" name="colorObstacles">

    <button type="submit">Save settings</button>
  </form>
</body>
</html>